<div class="container">
  <h2>{{pageTitle}}</h2>
  <div class="row gap-2 ">
    <div class="col d-flex justify-content-center" *ngFor="let producto of productos ">
      <div class="card " style="width: 12rem;">
        <img [src]="producto.imageUrl" class="card-img-top" [alt]="producto.productName" height="200px">
        <div class="card-body">
          <h5 class="card-title">{{producto.productName}}</h5>
          <p class="card-text">${{producto.price}}</p>
          <a (click)="agregarCarrito(producto)" class="btn btn-primary">Agregar</a>
        </div>
      </div>
    </div>

  </div>
</div>